# Các project ID cho từng mạng
BLOCKFROST_PROJECT_ID=your_blockfrost_project_id_here

# Chọn network (preview | preprod | mainnet | testnet)
BLOCKFROST_NETWORK=testnet
MNEMONIC=your_mnemonic_phrase_here
